<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xx.erhuo.com">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 聊天相关 -->
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.erhuo.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/erhuo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/erhuo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserSettingActivity"
            />
        <activity android:name=".LoginRegisterActivity" />
        <activity android:name=".Activity_SettingEdit" />
        <activity android:name=".SellActivity" />
        <activity android:name="xx.erhuo.images.ImgDisplayActivity" />
        <activity android:name="xx.erhuo.images.ImgDisplayActivity2" />
        <activity android:name="xx.erhuo.images.ImagesActivity" />
        <activity android:name=".ChoseTypeActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".SearchInputActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ACommodityActivity" />
        <activity
            android:name=".DisplayImgActivity"
            android:theme="@style/translucent" />
        <activity android:name="xx.erhuo.bmob.BombChatActivity" />
        <activity android:name="xx.erhuo.bmob.FindOthersActivity" />
        <activity android:name="xx.erhuo.bmob.ChatActivity" />
        <activity android:name="xx.erhuo.bmob.FindOthersListActivity"/>
        <activity android:name=".Activity_OthersMessage"/>
        <activity android:name=".SoldHistoryActivity"/>
        <activity android:name=".BoughtHistoryActivity"/>
        <activity android:name=".ConcernActivity"/>
        <activity android:name=".OnSellActivity"/>
        <!-- TODO 集成：1.5、配置IM SDK需要的广播和服务 -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <!-- v2.0.4版本增加service-用于进程保活 -->
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="2f7ec530d03adceaa8221064fabec34c" />


    </application>

</manifest>